{% extends "blogs/base.html" %}

{% block page_header %}
    <h1>Posts</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{post.title}}</h2>
                <div>{{post.text}}</div>
                <div><p class="font-weight-light">{{post.date_added}}</p></div>
                <div><p class="font-italic">By {{post.owner}}</p></div>
                <a href="{% url 'blogs:edit_post' post.id %}">Edit</a>
            </li>
        {% empty %}
            <li>
                No posts have been added
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
